/* AVATAR */

/* .avatar-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
}

.avatar-btn {
  background: transparent;
  width: 80px;
  height: 80px;
  padding: 2px;
  border: 2px solid;
  border-radius: 1000px;
  outline: 2px solid white;
  background: white;
  overflow: hidden;
}
.avatar-btn:hover {
  border-color: hotpink;
  border-style: dashed;
}

.avatar {
  display: block;
  width: 100%;
  border-radius: 1000px;
  transition: transform 500ms;
}
.avatar-btn:hover .avatar {
  transform: rotate(-25deg);
  transition: transform 250ms;
} */

/* SHOPPING CART */

/* h2 {
  margin: 2rem 0;
  text-align: center;
}

.shopping-cart {
  --image-width: 150px;
  margin-bottom: 2rem;
}

.cart-row td {
  padding: 8px 0px;
}
.cart-row td:first-of-type {
  width: var(--image-width);
}

.product-thumb {
  width: var(--image-width);
}

.actions {
  display: flex;
  justify-content: flex-end;
} */

/* BADGES */

/* :root {
  --shadow-color: 286deg 36% 48%;
  --shadow-elevation-high:
    drop-shadow(0.3px 0.5px 0.5px hsl(var(--shadow-color) / 0.69))
    drop-shadow(0.9px 1.7px 1.7px hsl(var(--shadow-color) / 0.62))
    drop-shadow(1.8px 3.7px 3.6px hsl(var(--shadow-color) / 0.56))
    drop-shadow(3.7px 7.4px 7.3px hsl(var(--shadow-color) / 0.49))
    drop-shadow(7.1px 14.1px 14px hsl(var(--shadow-color) / 0.42))
    drop-shadow(12.4px 24.8px 24.5px hsl(var(--shadow-color) / 0.35))
    drop-shadow(20.3px 40.6px 40.2px hsl(var(--shadow-color) / 0.29))
    drop-shadow(31.3px 62.5px 61.9px hsl(var(--shadow-color) / 0.22));
}

body {
  background: hsl(285deg 90% 90%);
}

.app {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 48px;
  filter: var(--shadow-elevation-high);
  padding: 48px;
}

.profile-card {
  width: 350px;
  border-radius: 100px 100px 16px 16px;
  background: white;
  padding: 16px;
  padding-top: 0px;
}

.profile-card header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -24px;
}

.profile-card header img {
  width: 200px;
  border-radius: 32px 32px 64px 64px;
  border: 4px solid white;
  margin-bottom: 16px;
}

.joined {
  color: hsl(0deg 0% 25%);
}

.badge-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  list-style-type: none;
  padding: 8px;
  border: 2px dashed hsl(0deg 0% 80%);
  margin-top: 24px;
  border-radius: 8px;
}
.badge-list li {
  padding: 8px;
  background: hsl(0deg 0% 92%);
  border-radius: 4px;
}

.golden.badge-list {
  border-color: hsl(50deg 100% 50%);
}
.golden.badge-list li {
  background: hsl(50deg 70% 92%);
} */

/* RANGE EX */

/* html {
  --spacing: 8px;
  background: hsl(210deg, 15%, 6%);
}

.grid {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
  background: white;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
}

.row {
  display: flex;
  gap: var(--spacing);
}

.cell {
  flex: 1;
  aspect-ratio: 1 / 1;
  border: 1px solid hsl(210deg 20% 80%);
  border-radius: 4px;
}
.cell:hover {
  background: hsl(210deg 20% 80%);
} */

/* COUNTRY PICKER */

/* fieldset {
  margin-bottom: 24px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
.row:not(:last-of-type) {
  margin-bottom: 16px;
}
.col {
  flex: 1;
  min-width: 155px;
}
input:not([type='checkbox']),
select {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0px 6px;
}
input[type='checkbox'] {
  width: 20px;
  height: 20px;
}
button {
  display: block;
  padding: 8px 32px;
  min-width: 50%;
  font-size: 1.125rem;
  margin: 0 auto;
}

.country-display {
  background: hsl(50deg 90% 90%);
  border-radius: 4px;
  padding: 20px 24px;
  margin-bottom: 32px;
} */


/* GRADIENT GENERATOR */

/* .wrapper {
  max-width: 450px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.gradient-preview {
  aspect-ratio: 2 / 1;
  min-height: 75px;
  border-radius: 4px;
}
.colors {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
}
.color-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-wrapper label {
  display: block;
}
input[type=color] {
  width: 75px;
  height: 75px;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.actions button {
  font-size: 1.125rem;
  padding: 8px 16px;
} */

/* SHOPPING LIST  */

:root {
  --shadow-color: 5deg 37% 71%;
  --shadow-elevation-low:
    0px -0.3px 0.2px hsl(var(--shadow-color) / 0.38),
    0px -0.4px 0.3px -2.5px hsl(var(--shadow-color) / 0.25),
    0px -1px 0.8px -5px hsl(var(--shadow-color) / 0.13);
  --shadow-elevation-medium:
    0px -0.3px 0.2px hsl(var(--shadow-color) / 0.39),
    0px -0.5px 0.4px -1.7px hsl(var(--shadow-color) / 0.3),
    0px -1.6px 1.2px -3.3px hsl(var(--shadow-color) / 0.2),
    0px -4.8px 3.6px -5px hsl(var(--shadow-color) / 0.1);
  --shadow-elevation-high:
    0px 1px 1.5px hsl(var(--shadow-color) / 0.6),
    0px 2px 3px hsl(var(--shadow-color) / 0.4),
    0px 4px 6px hsl(var(--shadow-color) / 0.25),
    0px 8px 12px hsl(var(--shadow-color) / 0.15),
    0px 16px 24px hsl(var(--shadow-color) / 0.1);
}
body {
  padding: 4px;
  background: #ffd9d6;
}
html, body, #root {
  height: 100%;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.list-wrapper {
  flex: 1;
}
.shopping-list {
  background: white;
  box-shadow: var(--shadow-elevation-high);
  border-radius: 8px;
  padding: 16px;
  margin: 0 auto;
  max-width: 400px;
  list-style-type: none;
}
.shopping-list li {
  padding: 8px 0px;
  border-bottom: 1px dashed hsl(4deg 75% 65%);
}
.shopping-list li:first-of-type {
  padding-top: 0;
}
.shopping-list li:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}
.shopping-list li::marker {
  color: hsl(4deg 75% 65%);
}
.new-list-item-form {
  background: white;
  box-shadow: var(--shadow-elevation-high);
  padding: 4px;
  border-radius: 8px;
}
.new-list-item-form form {
  border: 2px dashed hsl(4deg 75% 65%);
  border-radius: 4px;
  padding: 16px;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
label {
  display: block;
  margin-bottom: 16px;
  font-size: 1.125rem;
  font-weight: 500;
}
.row input, .row button {
  height: 2.5rem;
  font-size: 1.125rem;
}
.row input {
  flex: 4;
  min-width: 220px;
}
.row button {
  flex: 1;
  min-width: 90px;
}